# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.rda
.rds

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

*_cache

# R Environment Variables
.Renviron

# pkgdown site
#docs/ we willen wel dat de docs folder synched ivm de website

# translation temp files
po/*~

# data files DONT FORGET TO PUT IN EXCLUDE OF _site.yml
/rawdata/
/raw_data/
/data/

#/docs/ 


name_data/temp_name_webpages/origin_df.rda


# XML files from scraped web pages
name_data/global/lname/temp
name_data/global/fname/temp
name_data/province/temp